{% extends '../agenda/layouts/model_page.html'%}

{% block content %}
<h1>Evento</h1>

<div class="container">
    <form action="submit" method="POST">{% csrf_token %}
        <div>
            <input 
                type="number"
                name="id_evento"
                value="{{ evento.id }}"
                hidden
            >
            <label for="titulo">Título</label><br />
            <input 
                type="text" 
                name="titulo" 
                size="30"
                value="{{ evento.titulo }}"
            >
        </div>
        <div>
            <label for="descricao">Descrição</label><br />
            <textarea 
                id="" 
                name="descricao" 
                rows="10" 
                cols="31"    
            >
                {{ evento.descricao }}
            </textarea>
        </div>
        <div>
            <label for="local_evento">Local do evento</label><br />
            <input 
                type="text" 
                name="local_evento" 
                size="30"
                value="{{ evento.local_evento }}"
            >
        </div>
        <div>
            <label for="data_evento">Data do evento</label><br />
            <input 
                type="datetime-local" 
                name="data_evento" 
                size="30"
                value="{{ evento.get_data_input_evento }}"
            >
        </div>
        <div>
            <label for="data_final_evento">Data final do evento</label><br />
            <input 
                type="datetime-local" 
                name="data_final_evento" 
                size="30"
                value="{{ evento.get_data_input_final_evento }}"
            >
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-success">
                Salvar
            </button>
            <a href="/">
                <button type="button" class="btn btn-secondary">
                    Cancelar
                </button>
            </a>
        </div>
    </form>
</div>

{% endblock %}