<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Agenda</title>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form action="submit" method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Usuário</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="password">Senha</label>
                <input type="password" name="password">
            </div>
            <div>
                <button type="submit" class="btn btn-success">
                    Login
                </button>
            </div>
        </form>
        {% for message in messages%}
            <div>
                <strong>Erro!!! </strong>{{message}}
            </div>
        {% endfor %}
    </div>
</body>

</html>